dbdata/mysql
.composer/cache/
.idea
m2/*
m2/app
m2/auth.json.sample
m2/bin
m2/CHANGELOG.md
m2/composer.json
m2/composer.lock
m2/COPYING.txt
m2/dev
m2/generated
m2/grunt-config.json.sample
m2/Gruntfile.js.sample
m2/index.php
m2/lib
m2/LICENSE_AFL.txt
m2/LICENSE.txt
m2/nginx.conf.sample
m2/package.json.sample
m2/phpserver
m2/pub
m2/SECURITY.md
m2/setup
m2/update
m2/var
m2/vendor
./dbdata/mysql
./dbdata/elasticdata
./dbdata/redis-data
dbdata/elasticdata
dbdata/redis-data/
